<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="happyFortuneService"
		class="com.springdemo.HappyFortuneService">
	</bean>

	<bean id="myBaseballCoach" class="com.springdemo.BaseballCoach">
		<property name="fortuneService" ref="happyFortuneService"></property>
	</bean>

	<bean id="myCricketCoach" class="com.springdemo.CricketCoach">
		<constructor-arg ref="happyFortuneService" />
	</bean>

</beans>